body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-size: 1rem;
    background-color: #ff0404ab;
}

#calulator{
    width: 32vw;
    height: 65vh;
    border: solid grey;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: rgb(0, 0, 0);
    border-radius: 10px;
    box-shadow: 12px 10px 10px 5px rgba(0, 0, 0, 0.3);
}
#result{
    width: 28vw;
    height: 12vh;
    border: solid gray;
    border-radius: 10px ;
    align-self: center;
    background-color: rgba(59, 208, 22, 0.515);
}
button{
    width: 8vw;
    height: 8vh;
    transition: 0.5s;
    background-color: #3498db;
    border: none;
    border-radius: 10px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: transform 0.2s, box-shadow 0.2s;
}
#numbers{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
#btn_math{
    width: 15vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 3vh;
}
#btn_math button{
    width: 4vw;
    height: 6vh;
}
#equal{
    width: 4vw;
    height: 8vh;
}
#equal button{
    width: 4vw;
    height: 8vh;
}
button:hover{
    background-color: blue;
    transform: translateY(-5px);
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
}
#butns_numbers_math{
    display: flex;
}
#add_btn button{
    width: 4vw;
}
@media screen and (max-width:601px)
    {  
        #calulator{
            width: 75vw;
        }
        button{
            width: 18vw;
        }
        #result{
            width: 60vw;
        }
        #add_btn button{
            width: 9vw;
        }
        #btn_math button{
            width: 10vw;
        }
    }