#calulator{
    width: 32vw;
    height: 50vh;
    border: solid grey;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: rgba(72, 23, 189, 0.316);
}
#result{
    width: 28vw;
    height: 10vh;
    border: solid gray;
    align-self: center;
    background-color: rgba(51, 253, 0, 0.515);
}
button{
    width: 8vw;
    height: 8vh;
    transition: 0.5s;
    background-color: #3498db;
    border: none;
    border-radius: 10px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: transform 0.2s, box-shadow 0.2s;
}
#numbers{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
#btn_math{
    width: 15vw;
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
}
#btn_math button{
    width: 2vw;

}
#equal{
    width: 4vw;
    height: 8vh;
}
#equal button{
    width: 4vw;
    height: 8vh;
}
button:hover{
    background-color: blue;
    transform: translateY(-5px);
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
}
#butns_numbers_math{
    display: flex;
}
#add_btn button{
    width: 4vw;
}